<!--{% extends "layout.html" %}
{% block body %}
-->


<!doctype html>
<title>TodoApp -- Store your Todo items</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<style>
body {
    padding-top: 60px;
    padding-bottom: 100px;
}
</style>

<body>

  <form action="" method=post class="form-horizontal">
    <h2>Sign up for FlaskLogin(Todo) Application </h2>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="username" name="username" class="input-xlarge"
            placeholder="Enter Username" value="{{ request.form.username }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input type="password" id="password" name="password" class="input-xlarge"
            placeholder="Enter Password" value=""
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input type="email" id="email" name="email" class="input-xlarge"
            placeholder="Enter Email" value=""
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Signup</button>
        </div>
    </div>
  </form>

<!--{% endblock %}-->

</body>

</html>
